body {
    font-family:Raleway;
    background-color:#0072FF;
    color:#1BB361;

}

h1, h2, h3, h4, h5, h6  {
    font-family:"Abril Fatface";
    text-align:center;
}

h1 {
    font-family:"Abril Fatface";
    font-size:50pt;
}

h2 {
    font-family:"Abril Fatface";
    font-size:20pt;
    text-align:center;
}

h2 {
    margin: .1em;
}


header {
    text-align:center;
}

#hero, footer {
    color:#1BB361;
    border: 6px solid #1Aff83;
    background-color:#1B5FB3;
    text-align:center;
}



#bio {
    text-align:center;
}


section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(-n+3) {
    color: #1BB361;
}

#hobbies ul li:nth-child(n+4):nth-child(-n+6) {
    color:#FF6C0E
}

#hobbies ul li:nth-child(n+7) {
    color:black
}



#gallery {
    border: 6px solid #1Aff83;
    margin-bottom:1rem;
    }


    
#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}

#gallery img {
    border: 6px solid #1BB361
}

#gallery figcaption {
    color:#FF6C0E
}

#gallery figcaption {
    border: 3px solid #1Aff83
}

#lit {
    border: 6px solid #1Aff83;
    margin-bottom:1rem;
}

#lit div  p:first-child:first-letter {
    color:#1BB361;
    background-image: radial-gradient(white, #1B5FB3);
    float: left;
    font-size: 3em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65;
    border: 4px outset #1BB361;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-top-left-radius:0.2em;
    border-bottom-right-radius:0.2em;
}

#lit div{
    padding:1rem;
    max-width: 50rem;
    margin: 0 auto;
}

@media screen and (min-width: 40em) {
    


    figcaption {
        display: flex;
        justify-content: center;
        align-items:center;
    }


    #lit div {
        max-width: 100%;
        columns: 30rem;

    }

}

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }


    hr {
        display: none;

    }

    #gallery h2 {
        grid-column: 1/-1; 

    }


}


