body {
    font-family:Raleway;
    background-color:#FFC34D;
    color:#245DB3;

}

h1, h2, h3, h4, h5, h6  {
    font-family:"Abril Fatface";
    text-align:center;
}

h1 {
    font-family:"Abril Fatface";
    font-size:50pt;
}

h2 {
    font-family:"Abril Fatface";
    font-size:20pt;
    text-align:center;
}

header {
    text-align:center;
}

#hero, footer {
    color:#245DB3;
    border: 6px solid #4D93FF;
    background-color:#B37D12;
    text-align:center;
}



#bio {
    text-align:center;
}

#hobbies ul li:nth-child(-n+3) {
    color: #66a3ff;
}

#hobbies ul li:nth-child(n+4):nth-child(-n+6) {
    color:#B37D12
}

#hobbies ul li:nth-child(n+7) {
    color:black
}

#gallery {
    border: 6px solid #4D93FF;
    margin-bottom:1rem;
    }


    
#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}

#gallery img {
    border: 6px solid #245DB3
}

#gallery figcaption {
    color:#B37D12
}

#gallery figcaption {
    border: 3px solid #4D93FF
}

#lit {
    border: 6px solid #4D93FF;
    margin-bottom:1rem;
}

#lit div{
    padding:1rem;
    max-width: 50rem;
    margin: 0 auto;
}