body {
    font-family:Raleway;
    background-color:#F5F320;
    color:#0004F0;

}

h1, h2, h3, h4, h5, h6  {
    font-family:"Abril Fatface";
    text-align:center;
}

h1 {
    font-family:"Abril Fatface";
    font-size:50pt;
}

h2 {
    font-family:"Abril Fatface";
    font-size:20pt;
    text-align:center;
}

h2 {
    margin: .1em;
}


header {
    text-align:center;
}

#hero {
    text-align:center;
}

#hero, footer {
    color:#0004F0;
    border: 6px solid #0004F0;
    border-radius:2rem;
    background-color:#F5F320;
    text-align:center;
}



#bio {
    text-align:center;
}


section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(-n+3) {
    color: #0049F5;
}

#hobbies ul li:nth-child(n+4):nth-child(-n+6) {
    color:#A36A10;
}

#hobbies ul li:nth-child(n+7) {
    color:black
}



#gallery {
    border: 6px solid #0004F0;
    border-radius:2rem;
    margin-bottom:1rem;
    }


    
#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}

#gallery img {
    border: 6px solid #0004F0;
    border-radius:2rem;
}

#gallery figcaption {
    color:#A36A10;
}

#gallery figcaption {
    border: 3px solid #0004F0;
    border-radius:2rem;
}

#lit {
    border: 6px solid #0004F0;
    border-radius:2rem;
    margin-bottom:1rem;
}

#lit div  p:first-child:first-letter {
    color:#0004F0;
    background-image: radial-gradient(white, #F5F320);
    float: left;
    font-size: 3em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65;
    border: 4px outset #0004F0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-top-left-radius:0.2em;
    border-bottom-right-radius:0.2em;
}

#lit div{
    padding:1rem;
    max-width: 50rem;
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    
    #hero img {
        max-width:70%;
        object-fit:cover;
    }


    figcaption {
        display: flex;
        justify-content: center;
        align-items:center;
    }


    #lit div {
        max-width: 100%;
        columns: 30rem;

    }

}

@media screen and (min-width: 1200px) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }


    hr {
        display: none;

    }

    #gallery h2 {
        grid-column: 1/-1; 

    }


}


#formElements {
    display:grid;
    row-gap:.5em;

}

#contact{
    padding: 1rem;
    max-width: 600px;
    margin: 2rem  auto;

}

fieldset {
    border: 2px solid #0004F0;
    margin-top:1em;
    margin-bottom:1em;
    border-radius:2rem;
}

legend {
    background-color: #0004F0;
    color: white;
}


#contact input, #contact textarea, #contace select, #contact button {
    padding: .75em;
    font-size: 1em;
    padding: 1em;
}

#contact ul {
    list-style:none;
    padding: 0px; 
}

#contact li {
    margin: 1.5em; 
}

#contact button {
    background-color: #0004F0;
    color: white;
    width:60%;
    justify-self:center;
}